INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORG=zendure-dev
INFLUXDB_BUCKET_RAW=zendure_raw
INFLUXDB_BUCKET_1M=zendure_1m
INFLUXDB_BUCKET_15M=zendure_15m
INFLUXDB_TOKEN=change-me
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=change-me
INFLUXDB_ADMIN_TOKEN=change-me-admin
